<nav class="navbar navbar-default navbar-fixed-top">
  <nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-brand" href="#">
            <img src="/static/images/bulma-type.png" alt="Rental Management">
        </a>
    </div>

    <div class="nav-center">
        <a class="nav-item" href="#">
            <span class="icon">
                <i class="fa fa-github"></i>
            </span>
        </a>
        <a class="nav-item" href="#">
            <span class="icon">
                <i class="fa fa-twitter"></i>
            </span>
        </a>
    </div>

    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    </span>

    <div class="nav-right nav-menu">
        <a class="nav-item" href="#">
            Home
        </a>
        <a class="nav-item" href="#">
            Documentation
        </a>
        <a class="nav-item" href="#">
            Blog
        </a>

        <span class="nav-item">
            <a class="button" >
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>Tweet</span>
            </a>
            <a class="button is-primary" href="#">
                <!-- <span class="icon">
                  <i class="item"></i>
                </span> -->
                <span>Login</span>
            </a>
        </span>
    </div>
  </nav>
</nav>
